#loader-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    backdrop-filter: blur(20px);
    transition: backdrop-filter 0.5s ease-out;
    z-index: 9999;
}

.loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #333;
    border-top-color: #fff;
    animation: loader 1s linear infinite;
}

/* Container principal */
.container {
    position: relative;
    width: 1000px;
    max-width: 100vw;
    height: 650px;
    max-height: calc(100vh - 60px);
    background-color: #1e1e1e;
    border: 1px solid #404040;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

/* Barre de titre */
.title-bar {
    background-color: #333333;
    height: 35px;
    padding: 0 0 0 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    cursor: grab;
}

.title-bar:active {
    cursor: grabbing;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 22px;
    height: 22px;
    margin-left: 5px;
}

.title-bar-text {
    color: #d4d4d4;
    font-size: 13px;
}

.title-bar-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 140px;
    height: 100%;
}

.title-bar-controls button {
    width: 100%;
    height: 100%;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.title-bar-controls button:hover {
    background-color: #444;
}

.minimize-button,
.maximize-button {
    color: #777;
}

.close-button i {
    color: #ff5f56;
    font-size: 18px;
}

/* Barre de menu */
.menu-bar {
    background-color: #2b2b2b;
    box-shadow: 0 15px 10px -15px rgba(0, 0, 0, 0.3);
    position: absolute;
    display: flex;
    align-items: center;
    height: 45px;
    top: 35px;
    left: 170px;
    right: 0;
}

.menu-bar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.menu-bar ul img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.menu-bar ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #d4d4d4;
    font-size: 14px;
    width: 126px;
    padding: 12px 0;
}

.menu-bar a.active {
    box-shadow: 0 1px 0 0 #54BDF1;
    background-color: #1e1e1e;
}

.menu-bar ul li a:hover {
    background-color: #444;
}

/* Zone de contenu principal */
.content {
    font-family: 'Victor Mono', monospace;
    position: absolute;
    top: 81px;
    bottom: 22px;
    left: 170px;
    right: 0;
    padding: 0px 20px 0 80px;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.content section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100%;
    padding: 20px 0;
}

.title {
    padding: 10px 0;
    margin-bottom: 10px;
    width: 100%;
}

.title .vscode-title {
    color: #ffffff;
    font-size: 20px;
    font-family: 'Victor Mono', monospace;
}

.title .vscode-tag,
.title .vscode-tog {
    color: #569cd6;
    font-size: 20px;
    font-family: 'Victor Mono', monospace;
}

.title .vscode-tag:before {
    content: "<";
    color: #a4a4a4;
}

.title .vscode-tog:before {
    content: "</";
    color: #a4a4a4;
}

.title .vscode-tag:after,
.title .vscode-tog:after {
    content: ">";
    color: #a4a4a4;
}

.para {
    padding: 10px 0;
    margin-bottom: 20px;
    width: 100%;
}

.para .vscode-para {
    color: #d7d7d7;
    font-size: 16px;
    font-family: 'Victor Mono', monospace;
}

.para .vscode-tag,
.para .vscode-tog {
    color: #569cd6;
    font-size: 16px;
    font-family: 'Victor Mono', monospace;
}

.para .vscode-tag:before {
    content: "<";
    color: #a4a4a4;
}

.para .vscode-tog:before {
    content: "</";
    color: #a4a4a4;
}

.para .vscode-tag:after,
.para .vscode-tog:after {
    content: ">";
    color: #a4a4a4;
}

.projects .vscode-com {
    margin-bottom: 20px;
}

.vscode-com {
    color: #6a9955;
    font-style: italic;
}

.vscode-com::before {
    content: "<!-- ";
}

.vscode-com::after {
    content: " -->";
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.checkbox {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
}

.checkbox input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 17px;
    height: 17px;
    border: 1px solid #7a7a7a;
    background-color: #343434;
    color: #fff;
    border-radius: 2px;
    margin-right: 8px;
    position: relative;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.checkbox input[type="checkbox"]:checked::before {
    content: "✔";
    position: absolute;
    top: -4px;
    left: 1px;
    font-size: 16px;
    color: #fff;
}

.checkbox label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #d4d4d4;
    font-size: 14px;
}

.about p {
    margin-bottom: 20px;
}

.about a {
    color: #569cd6;
    font-weight: bold;
}

.containerSkills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 35px;
}

.skills-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border: 1px solid #2b2b2b;
    border-radius: 5px;
    padding: 20px;
    transition: all 0.3s ease;
}

.skills-list:hover {
    background-color: #2b2b2b;
}

.skills-list:hover h3 {
    color: #007ACC;
}

.skills-list h3 {
    color: #d4d4d4;
    font-size: 18px;
}

.skills-list ul li {
    font-size: 14px;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.project {
    border: 1px solid #2b2b2b;
    max-width: 600px;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.project:hover {
    background-color: #2b2b2b;
}

.img-container {
    overflow: hidden;
    width: 100%;
    height: 200px;
    border-radius: 5px 5px 0 0;
}

.projectImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    transition: scale 0.3s ease;
}

.projectImg:hover {
    scale: 1.1;
}

.project-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
}

.project-content a {
    color: #569cd6;
    font-weight: bold;
}

.projectsSkills {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.projectsSkills img {
    width: 35px;
    height: 35px;
    margin-right: 15px;
}

.projects li {
    margin-bottom: 10px;
}

.contact {
    padding: 20px 0;
}

.vscode-form {
    display: flex;
    flex-direction: column;
}

.contact .form-field {
    margin-bottom: 20px;
}

.contact label {
    color: #d4d4d4;
    font-size: 14px;
    margin-bottom: 5px;
}

.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
    font-family: 'Victor Mono', monospace;
    background-color: #2d2d2d;
    border: none;
    color: #d4d4d4;
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    transition: box-shadow 0.3s ease-out;
}

.contact textarea {
    height: 150px;
    resize: none;
}

.contact input[type="text"]:focus,
.contact input[type="email"]:focus,
.contact textarea:focus {
    outline: none;
    box-shadow: 0 0 0 2px #007ACC;
}

#successMessage {
    display: none;
    color: #00ff00;
    font-size: 14px;
    margin: 10px 0;
}

#errorMessage {
    display: none;
    color: #ff0000;
    font-size: 14px;
    margin: 10px 0;
}

.vscode-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Victor Mono', monospace;
    background-color: #007ACC;
    color: #fff;
    border: none;
    padding: 10px 20px;
    letter-spacing: 1.2px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.vscode-button:hover {
    background-color: #026fb9;
}

.loaderBtn {
    display: none;
    width: 15px;
    height: 15px;
    border: 2px solid #fff;
    border-top: 2px solid transparent;
    border-radius: 50%;
    animation: loader 0.6s linear infinite;
    margin-right: 10px;
}

@keyframes loader {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.loading .loaderBtn {
    display: block;
}

.loading #btnMail {
    pointer-events: none;
    opacity: 0.6;
}


/* Barre latérale de gauche */
.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50px;
    background-color: #2b2b2b;
    color: #d4d4d4;
    padding: 15px 5px;
    position: absolute;
    top: 35px;
    left: 0px;
    bottom: 22px;
}

.sidebar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.top-items .sidebar-item {
    margin-bottom: 22px;
}

.bottom-items .sidebar-item {
    margin-top: 22px;
}

.sidebar-icon {
    display: inline-block;
}

.sidebar-icon i {
    font-size: 26px;
    color: #919191;
    transition: color 0.3s ease;
}

.sidebar-icon i:hover {
    color: #bcbcbc;
}

.theme-modal {
    display: none;
    position: absolute;
    bottom: 15px;
    left: 50px;
    width: 200px;
    background-color: #252526;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #3c3c3c;
    padding: 5px;
    user-select: none;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.theme-vscode-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 30px;
    color: #d4d4d4;
    cursor: pointer;
}

.theme-vscode-name:hover {
    background-color: #00365d;
    color: #ffffff;
    border-radius: 5px;
}

.theme-modal.active {
    display: block;
}

/* Barre latérale de l'Explorateur de fichiers */
aside.explorer {
    width: 120px;
    background-color: #252526;
    color: #d4d4d4;
    padding: 10px 0;
    position: absolute;
    top: 35px;
    left: 50px;
    bottom: 22px;
}

.explorer-header {
    font-size: 12px;
    color: #b8b8b8;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding: 0 18px;
}

.explorer-content {
    overflow-y: auto;
}

.toggle-chevron {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.toggle-chevron svg {
    width: 18px;
    height: 15px;
    transition: transform 0.3s;
}

.file-list {
    line-height: 1.2;
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.1s;
}

.explorer-content.show .file-list {
    max-height: 500px;
}

.explorer-content.show .toggle-chevron svg {
    transform: rotate(90deg);
}

.file-list li {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.file-list li a {
    font-size: 14px;
    padding: 5px 10px;
    letter-spacing: 0.1px;
    display: flex;
    align-items: center;
    color: #d4d4d4;
    text-decoration: none;
    width: 100%;
}

.file-list li:hover,
.file-list li a.active {
    background-color: #4e4e4e46;
}

.file-icon {
    display: flex;
    align-items: center;
}

.file-icon img {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

/* Pied de VSCode */
footer {
    background-color: #007ACC;
    height: 22px;
    padding: 0 3px 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.status-bar {
    display: flex;
}

.status-bar-section {
    color: #d4d4d4;
    font-size: 13px;
    margin-right: 10px;
    padding: 0 5px;
    cursor: pointer;
}

.status-bar .status-bar-section:hover {
    background-color: #ffffff1f;
}

.warning-status {
    display: flex;
    cursor: pointer;
}

.warning-status:hover {
    background-color: #ffffff1f;
}

.warning-status .status-bar-section {
    color: #d4d4d4;
    font-size: 13px;
    margin-right: 0;
    padding: 0 5px;
    cursor: pointer;
}

/* Numérotation des lignes */
.code-column {
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    font-family: 'Victor Mono', monospace;
    font-size: 15px;
    letter-spacing: -0.5px;
    line-height: 1.4;
    padding: 0 20px 0 15px;
    background-color: transparent;
    border-right: 1px solid #78787855;
}

.code-column ol {
    list-style: none;
    counter-reset: line-numbering;
}

.code-column li {
    counter-increment: line-numbering;
}

.code-column li::before {
    content: counter(line-numbering);
    color: #888888;
}

/* Barre des tâches windows 11 */
.taskbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1e1f1ff5;
    backdrop-filter: blur(10px);
    border-top: 1px solid #333;
    color: #fff;
    padding: 0 20px;
    z-index: 2;
}

.left-section {
    display: flex;
    align-items: center;
    padding: 8px 20px 8px 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.left-section:hover {
    background-color: #333333;
    border-radius: 5px;
}

.weather-info {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    margin-left: 3px;
    font-size: 12px;
}

.weather-info .description {
    text-transform: capitalize;
    opacity: 0.7;
}

.weather-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.weather-icon img {
    width: 30px;
    height: 30px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 500px;
}

.menu img {
    width: 50px;
    height: 50px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.menu img:hover,
.logo-vscode:hover,
.logo-vscode.active {
    background-color: #333333d4;
    border-radius: 5px;
}

.logo-vscode img {
    width: 50px;
    height: 50px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.logo-vscode {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    transition: all 0.3s ease;
}

.logo-vscode::after {
    content: '';
    display: var(--after-display, block);
    position: absolute;
    width: 6px;
    height: 3px;
    background: #c4c4c4ae;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    transition: all 0.3s ease;
}

.logo-vscode.active::after {
    width: 15px;
    background: #54BDF1;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #323232;
    border-radius: 25px;
    padding: 10px 15px;
    margin-left: 10px;
}

.search-bar input {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 14px;
    width: 200px;
    outline: none;
}

.search-bar input::placeholder {
    color: #ffffffaa;
}

.search-bar i {
    color: #ffffffaa;
    margin-right: 10px;
}

.right-section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 8px 10px 8px 10px;
    cursor: default;
}

.right-section:hover {
    background-color: #333333;
    border-radius: 5px;
}

.date-time {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.date,
.time {
    font-size: 12px;
    color: #c1c1c1;
}

/* Styles pour les widgets */
.widget {
    position: absolute;
    top: 35px;
    right: -300px;
    width: 300px;
    background-color: #27282Df5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid #444;
    overflow-y: auto;
    transition: right 0.2s ease-in-out;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 1000;
}

.widget.active {
    right: 10px;
}

.widget h3 {
    background-color: #212227;
    color: #fff;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 400;
}

.widget ul {
    height: 150px;
}

.widget ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    height: 100%;
}

/* Styles pour le widget de notifications */
#notification-widget {
    top: 32%;
    height: 190px;
}

/* Styles pour le widget de calendrier */
#calendar-widget {
    height: 380px;
    top: 53%;
}

#calendar-widget table {
    width: 100%;
    border-collapse: collapse;
}

#calendar-widget table th,
#calendar-widget table td {
    padding: 5px;
    text-align: center;
}

#calendar-widget table th {
    background-color: transparent;
    color: #fff;
    font-size: 11px;
}

#calendar-widget table td {
    border: none;
    height: auto;
    font-size: 14px;
}

#calendar-widget table td.fc-day-today {
    background-color: #C0BDDF;
    border-radius: 50%;
    color: #212227;
}

#calendar-widget table td.fc-day-today:hover {
    background-color: #c0bddfda;
}

.fc .fc-daygrid-day-top {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

#calendar-widget table td.fc-day:hover {
    background-color: #ffffff1f;
    border-radius: 50%;
    cursor: default;
}

.fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 0;
    padding: 5px
}

.fc-theme-standard td,
.fc-theme-standard th,
.fc-theme-standard .fc-scrollgrid {
    border: none;
}

.fc .fc-toolbar-title {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    padding: 0 10px;
}

.fc .fc-button .fc-icon {
    color: #b8b8b8;
    font-size: 14px;
}

.fc .fc-daygrid-body-natural .fc-daygrid-day-events {
    display: none;
}

.fc .fc-button-primary {
    background-color: transparent;
    border: none;
    border-radius: 50%;
}

.fc .fc-button-primary:hover {
    background-color: #ffffff1f;
    border-radius: 50%;
}

.fc .fc-button-primary:disabled {
    display: none;
}

/* Like animation */
.love {
    position: absolute;
    top: 0;
    right: 0;
}

.tweet-heart {
    background-color: transparent;
    background-image: url("https://abs.twimg.com/a/1492302959/img/animations/web_heart_animation.png");
    border: none;
    cursor: pointer;
    height: 100px;
    width: 100px;
    outline: none;
    transition: all ease-out 0.8s;
}

.tweet-heart.is-liked {
    animation-name: like;
    animation-duration: 0.8s;
    animation-timing-function: steps(28);
    animation-fill-mode: forwards;
}

#likeCount {
    position: absolute;
    top: 70px;
    right: 40px;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #E2264D;
    font-weight: bold;
}

@keyframes like {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: right;
    }
}

/* Jeux bureau */
#desktopGame {
    position: fixed;
    bottom: 60px;
    left: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 5px;
}

.icon {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    width: 90px;
    padding: 10px;
    transition: all 0.1s ease;
}

.icon:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.icon img {
    width: 50px;
}

.icon-label {
    font-size: 14px;
    font-weight: 100;
    text-shadow: 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000;
    margin-top: 5px;
}

#game-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(41, 41, 41, 0.746);
    z-index: 1000;
}

#game-iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
}

#close-button-game {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    color: red;
    font-size: 30px;
    border: none;
    cursor: pointer;
}

.modalBg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: auto;
}

.modal-content-bg {
    background-color: rgba(37, 49, 63, 0.73);
    backdrop-filter: blur(10px);
    width: 100%;
    padding: 8px 5px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.context-menu-item {
    display: block;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s;
}

.context-menu-item i {
    margin-right: 10px;
}

.context-menu-item:hover {
    background-color: rgba(255, 255, 255, 0.084);
}

/* Thème clair */
.container.light {
    background-color: #ffffff;
    border: none;
}

.container.light .title-bar {
    background-color: #e1e1e1;
}

.container.light .title-bar .title-bar-text {
    color: #000000;
}

.container.light .title-bar .title-bar-controls button:hover {
    background-color: #bababac6;
}

.container.light .menu-bar {
    background-color: #e9e9e9;
}

.container.light .menu-bar ul li a {
    color: #c1c1c1;
}

.container.light .menu-bar ul li a:hover {
    background-color: #6583d61f;
}

.container.light .menu-bar a.active {
    background-color: #d2d2d2;
    color: #000000;
}

.container.light .sidebar {
    background-color: #d3d3d3;
}

.container.light aside.explorer {
    background-color: #e6e6e6;
}

.container.light .explorer-header {
    color: #888888;
}

.container.light .toggle-chevron {
    color: #888888;
}

.container.light .toggle-chevron svg #F-Chevron polyline {
    stroke: #888888;
}

.container.light .file-list li a {
    color: #c1c1c1;
}

.container.light .file-list li:hover,
.container.light .file-list li a.active {
    background-color: #6583d61f;
    color: #000000;
}

.container.light .title .vscode-title {
    color: #000000;
}

.container.light .para .vscode-para {
    color: #7b7b7b;
}

.container.light .checkbox label {
    color: #000000;
}

.container.light .checkbox input[type="checkbox"] {
    background-color: #ffffff;
}

.container.light .checkbox input[type="checkbox"]:checked::before {
    color: #000000;
}

.container.light p {
    color: #7b7b7b;
}

.container.light .about a {
    color: #008597;
}

.container.light .skills-list {
    border: 1px solid #e6e6e6;
}

.container.light .skills-list:hover {
    background-color: #e6e6e6;
}

.container.light .skills-list:hover h3 {
    color: #008597;
}

.container.light .skills-list h3 {
    color: #000000aa;
}

.container.light .skills-list li {
    color: #7b7b7b;
}

.container.light .project {
    border: 1px solid #e6e6e6;
}

.container.light .project:hover {
    background-color: #e6e6e6;
}

.container.light .project-content a {
    color: #008597;
}

.container.light .contact label {
    color: #000000;
}

.container.light .contact input[type="text"],
.container.light .contact input[type="email"],
.container.light .contact textarea {
    background-color: #e6e6e6;
    color: #000000;
}

.container.light .code-column li::before {
    color: #008597;
}

.container.light .theme-modal {
    background-color: #f1f1f1;
    border: 1px solid #e6e6e6;
    box-shadow: 0 0 15px 5px rgba(140, 140, 140, 0.3);
}

.container.light .theme-vscode-name {
    color: #5f5f5f;
}

.container.light .theme-vscode-name:hover {
    background-color: #1277c5;
    color: #f1f1f1;
}

/* Thème dracula */
.container.dracula {
    background-color: #282a36;
}

.container.dracula a {
    color: #ff4ef6;
}

.container.dracula .title-bar {
    background-color: #262330;
}

.container.dracula .title-bar .title-bar-text {
    color: #f8f8f2;
}

.container.dracula .title-bar .title-bar-controls button:hover {
    background-color: #44475ac6;
}

.container.dracula .menu-bar {
    background-color: #1e1f27;
}

.container.dracula .menu-bar ul li a {
    color: #6272a4;
}

.container.dracula .menu-bar ul li a:hover {
    background-color: #44475a79;
}

.container.dracula .menu-bar a.active {
    background-color: #282a36;
    color: #f8f8f2;
    box-shadow: inset 0 -1px 0 0 #ff80f9ce;
}

.container.dracula .sidebar {
    background-color: #434657c7;
}

.container.dracula .sidebar-icon i {
    color: #6272a4;
}

.container.dracula .sidebar-icon i:hover {
    color: #ffffff;
}

.container.dracula aside.explorer {
    background-color: #262330;
}

.container.dracula .explorer-header {
    color: #ffffff;
}

.container.dracula .toggle-chevron {
    color: #ffffff;
}

.container.dracula .file-list li a {
    color: #ffffff;
}

.container.dracula .file-list li:hover,
.container.dracula .file-list li a.active {
    background-color: #44475a79;
    color: #f8f8f2;
}

.container.dracula .title .vscode-title {
    color: #f8f8f2;
}

.container.dracula .checkbox #showHomePage {
    background-color: #44475a79;
    border: 1px solid #1b1922;
}

.container.dracula .vscode-tag,
.container.dracula .vscode-tog {
    color: #ff4ef6;
}

.container.dracula .vscode-tag::before,
.container.dracula .vscode-tog::before,
.container.dracula .vscode-tag::after,
.container.dracula .vscode-tog::after {
    color: #ffffff;
}

.container.dracula .para .vscode-para {
    color: #ffffff;
}

.container.dracula .vscode-com,
.container.dracula .code-column li::before {
    color: #6272a4;
}

.container.dracula .about a {
    color: #ff4ef6;
}

.container.dracula .skills-list {
    border: 1px solid #44475a79;
}

.container.dracula .skills-list:hover {
    background-color: #44475a79;
}

.container.dracula .skills-list:hover h3 {
    color: #ff4ef6;
}

.container.dracula .project {
    border: 1px solid #44475a79;
}

.container.dracula .project:hover {
    background-color: #44475a79;
}

.container.dracula .contact label {
    color: #ffffff;
}

.container.dracula .contact input[type="text"],
.container.dracula .contact input[type="email"],
.container.dracula .contact textarea {
    background-color: #44475a;
    color: #ffffff;
}

.container.dracula .contact input[type="text"]:focus,
.container.dracula .contact input[type="email"]:focus,
.container.dracula .contact textarea:focus {
    box-shadow: 0 0 5px 1px #ff4ef6;
}

.container.dracula .vscode-button {
    background-color: #6272a4;
    color: #ffffff;
}

.container.dracula .vscode-button:hover {
    background-color: #57658f;
}

.container.dracula .theme-modal {
    background-color: #44475a;
    border: 1px solid #44475a;
    box-shadow: 0 0 15px 5px rgba(29, 29, 29, 0.3);
}

.container.dracula .theme-vscode-name {
    color: #f8f8f2;
}

.container.dracula .theme-vscode-name:hover {
    background-color: #6266a191;
}

.container.dracula footer {
    background-color: #1b1922;
}